
Кол-во постов: <%= @posts.count %>
<% @posts.each do |post| %>
    <div>
      <strong><%= post.title %></strong>
      <p><%= post.body %></p>
      <p>
        <span id="left_s">Автор:<%= post.user.email %>(<%= post.created_at.strftime('%d-%m-%Y  %H:%M') %>)</span>
        <span id="right_s"><%= link_to 'Читать далее', post_path(post) %></span>
      </p>
    </div>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <hr>
<% end %>

<%= will_paginate @posts %>